# Database Configuration - Untuk koneksi ke Railway MySQL
DB_HOST=mysql.railway.internal
DB_USER=root
DB_PASSWORD=RoAAuIoCWkqiirhHMefCNnFgtEDIPxyD
DB_NAME=railway
DB_PORT=3306

# JWT Configuration
JWT_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6InVzZXJAZXhhbXBsZS5jb20iLCJpYXQiOjE3NTM0NDY3NzgsImV4cCI6MTc1MzQ4OTk3OH0.0lU6vWaI-wZckO8J-WUWY95ViiN7Y9aGHCvFS0kYRQI
JWT_EXPIRES_IN=24h

# Application Configuration
PORT=3000
UPLOAD_PATH=uploads
