# Dependencies
/node_modules
/package-lock.json

# Environment variables
.env

# Upload files
/uploads/*
!uploads/.gitkeep

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Misc
.DS_Store

# Documentation files
*.txt
*.doc
*.docx
*.pdf
*.docs